@font-face {
    font-family: "LondrinaSolid-Regular";
    src: url(LondrinaSolid-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "LondrinaSolid-Light";
    src: url(LondrinaSolid-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "ITCKabelStdBold";
    src: url(ITCKabelStdBold.ttf);
    font-weight: normal;}
    @font-face {
        font-family: "ITCKabelStdBook";
        src: url(ITCKabelStdBook.TTF);
        font-weight: normal;}